.product-section {
  padding: 80px 0;
}

.category-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 35px 0;
}

.category-filter button {
  border: none;
  background: #eee;
  padding: 12px 22px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 15px;
}

.category-filter button:hover {
  background: #111;
  color: #fff;
}

.category-filter .active {
  background: #111;
  color: #fff;
}
